@model IEnumerable<HardwareWeb.Models.Membership>

@{
    ViewData["Title"] = "Index";
}

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<h1>Memberships</h1>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Add Memberships</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MembershipName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MembershipName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.MembershipId">Edit</a>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "AdminRolePolicy")).Succeeded)
                    {
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.MembershipId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
