@{
    ViewData["Title"] = "Index";
}
@model HardwareWeb.Models.Customer
<h1>View Customer Purchase History</h1>

<hr />
<div class="p-3 m-2">
    <form asp-action="Index" method="post">
        <label asp-for="FullName" class="form-label">Customer</label>
        <select asp-for="CustomerId"
                class="form-control"
                asp-items="@(new SelectList(ViewBag.CustomerList,"CustomerId","FullName"))"></select>
        <input id="search" type="submit" value="View Bills" class="btn btn-dark m-3" />
    </form>
</div>

@if (ViewBag.Sales != null)
{
    <div class=" p-2 m-2">
        @foreach (var sale in ViewBag.Sales)
        {
            <div class="p-3 mb-5  border">
                <div class="d-flex flex-column justify-content-start m-2" style="text-align:start">
                    <div class="p-1">
                        <b>Sale Number</b> : @sale.SaleId
                    </div>
                    <div class="p-1">
                        <b>Sold By</b> : @sale.User
                    </div>
                    <div class="p-1">
                        <b>Customer</b> : @sale.Customer
                    </div>
                    <div class="p-1">
                        <b>Sale Date</b> :@sale.SaleDate
                    </div>
                </div>
                <div>
                    <table class="table mt-3">
                        <tr>
                            <th>Item Name</th>
                            <th>Price</th>
                            <th>Unit</th>
                            <th>Line Total</th>
                        </tr>
                        @foreach (var detail in ViewBag.SaleDetails)
                        {
                            @if (@sale.SaleId == @detail.SaleId)
                            {
                                <tr>
                                    <td>@detail.ItemName</td>
                                    <td>@detail.ItemPrice</td>
                                    <td>@detail.OrderUnit</td>
                                    <td>@detail.LineTotal</td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                <div style="text-align:end">
                    <p>Sale Total : @sale.SaleTotal</p>
                </div>
            </div>

        }
    </div>
}
else
{
    <div>
        <p>
            @ViewBag.NoData
        </p>
    </div>
}