@model IEnumerable<HardwareWeb.Models.User>

@{
    ViewData["Title"] = "Index";
}

@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<h1>Staff</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserGroup)
                </td>
                <td>
                    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@item.UserId">Edit</a>
                    @if ((await AuthorizationService.AuthorizeAsync(User, "AdminRolePolicy")).Succeeded)
                    {
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
