@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
}
@model HardwareWeb.ViewModels.NewSaleLineViewModel


<h1>Add Items</h1>

<hr />
<div class="d-flex flex-column">
    <div class="p-2 m-2 border">
        <form asp-action="Index" method="post">
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label class="form-label">Select Item</label>
                    <select asp-for="ItemId"
                            class="form-control"
                            asp-items="@(new SelectList(ViewBag.ItemList,"ItemId","Name"))"></select>
                    <span asp-validation-for="ItemId" class="text-danger"></span>
                </div>
                <div class="col-md-4 mb-3">
                    <label class="form-label">Amount</label>
                    <input class="form-control" asp-for="ItemAmount" />
                    <span asp-validation-for="ItemAmount" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row p-2">
                <input id="addItem" class="btn btn-primary m-2" type="submit" value="Add Item" />
                <a class="btn btn-danger m-2" asp-controller="Sales" asp-action="Clear">Clear Items</a>
            </div>
        </form>
        <div>
            <span class="text-danger">@ViewBag.StockMessage</span>
        </div>
    </div>
    <div class="p-3 m-3 border">
        <table class="table">
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Line Total</th>
            </tr>

            @if (ViewBag.ItemBufferList != null)
            {
                @foreach (var obj in ViewBag.ItemBufferList)
                {
                    <tr>
                        <td>@obj.ItemName</td>
                        <td>@obj.SaleAmount</td>
                        <td>@obj.ItemRate</td>
                        <td>@obj.LineTotal</td>

                    </tr>
                }
            }
        </table>
        @if (HttpContextAccessor.HttpContext.Session.GetString("ItemBufferList") != null)
        {
            <div>
                <a class="btn btn-outline-success" asp-controller="Sales" asp-action="Confirm">Proceed To Billing</a>
            </div>
        }
    </div>
</div>
